<div class="header">
    <button mat-fab [matMenuTriggerFor]="menu" extended class="btn btn-toggle">
            <mat-icon>account_circle</mat-icon>
            Tran Kim Linh
          </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item">
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled class="menu-item">
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item class="menu-item">
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
</div>
