.logo{
    padding: 20px 50px;
    img{
        width: 120px
    }
}
.menu-sidebar{
    .menu-sidebar-item{
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
        border: 1px solid var(--grey);
       a, .mat-icon{
           text-decoration: none;
           font-weight: 600
       }
        &:hover{
            transition: 0.3s ease-in-out;
            background-color: var(--primary);
            a, .mat-icon{
                color: #fff
            }
        }
    }
    .active{
        background-color: var(--primary);
        a, .mat-icon{
            color: #fff
        }
    }
}